<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>Vuejs script</title>
    <link rel="stylesheet" href="style.css">
    <!-- 引入vue -->
    <script type="text/javascript" src="js/vue.js"></script>
  </head>
  <body>
      <!-- 
        模板語法
        插值語法: 用於標籤體內容
        指令語法: 用於解析標籤(屬性,事件,內容)
      -->

    <!-- 準備容器 -->
    <div id="demo1">
      <h1>插值語法</h1>
      <h3>你好, {{name}}</h3>
      <hr>
      <h1>指令語法</h1>
      <a v-bind:href="school.url">點我去 {{school.name}} 1</a>
      <a :href="school.url.toUpperCase()">點我去 {{school.name}} 2</a>
    </div>

    <script type="text/javascript">
      // 全局配置 
      Vue.config.productionTip = false;

      // 創建vue實例
      // 1個實例=1個容器, 無法多對1, 無法1對多
      new Vue({
        el:'#demo1', //指定當前vue用於哪一個容器
        data: {
          name: 'David1',
          school:{
            name:'yahoo',
            url: 'https://tw.yahoo.com/'
          }
        }
      })
    </script>
  </body>
</html>

