<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>Vuejs script</title>
    <link rel="stylesheet" href="style.css">
    <!-- 引入vue -->
    <script type="text/javascript" src="js/vue.js"></script>
  </head>
  <body>
      <!-- 
        MVVM模型
        M: Model 即data,或稱javascript對象
        V: View 即html dom
        VM: ViewModel 即Vue對象

        所有vue原型上的屬性都可以呼叫到
      -->

    <!-- 準備容器 -->
    <!-- V -->
    <div id="demo">
      <h1>你好1, {{name}}</h1>
      <h1>你好2, {{1+1}}</h1>
      <h1>你好3, {{$options}}</h1>
      <h1>你好4, {{$emit}}</h1>
      <h1>你好5, {{_c}}</h1>
    </div>

    <script type="text/javascript">
      // 全局配置 
      Vue.config.productionTip = false;

      // 創建vue實例
      // VM
      new Vue({
        el: '#demo',
        // M
        data: function(){
          console.log(this)
          return {
            name: 'david',
          }
        }
      })

    </script>
  </body>
</html>

