<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>Vuejs script</title>
    <link rel="stylesheet" href="style.css">
    <!-- 引入vue -->
    <script type="text/javascript" src="js/vue.js"></script>
  </head>
  <body>
      <!-- 
        el與data寫法2
          + el 
            ++ new Vue配置el
            ++ 先創建Vue實例, 再透過v.$mount('#demo1')指定el
          + data
            ++ 對象式 
            ++ 函數式 
      -->

    <!-- 準備容器 -->
    <div id="demo">
      <h1>你好, {{name}}</h1>
    </div>

    <script type="text/javascript">
      // 全局配置 
      Vue.config.productionTip = false;

      // 創建vue實例
      new Vue({
        el: '#demo',
        // data: function(){
        data: function(){
          console.log(this)
          return {
            name: 'david',
          }
        }
      })

    </script>
  </body>
</html>

