<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>Vuejs script</title>
    <link rel="stylesheet" href="style.css">
    <!-- 引入vue -->
    <script type="text/javascript" src="js/vue.js"></script>
  </head>
  <body>
    <!-- 
        開發環境初始化
    -->  

    <!-- 準備容器 -->
    <div id="demo1">
      <h1>Hello, {{name.toUpperCase()}}, {{title}}, {{Date.now()}}</h1>
    </div>
    
    <script type="text/javascript">
      // 全局配置 
      Vue.config.productionTip = false;

      // 創建vue實例
      // 1個實例=1個容器, 無法多對1, 無法1對多
      new Vue({
        el:'#demo1', //指定當前vue用於哪一個容器
        data: {
          name: 'David1',
          title: '快快樂樂學Vue'
        }
      })
    </script>
  </body>
</html>

